.hieul{
    /* border:100px solid rgb(0, 0, 0); */
    /* width: 100%;
    height: auto;
    padding: 5px; */
    /* background-color: #e6e6e6; */
    margin: 0 10px;
}
.card{
    border-width: 1px;
    border-style: length;
    border-color: peru;
}
h3.firstshadow {
        color: orangered;
        font-size: 30pt;
        text-shadow: 5px 2px 4px grey;
        font-weight: bold;
    }
.acd{
  margin-bottom: 30px;
}